:root {
  --bg-color: #000;
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  --secondary-brand-color: #0e1b4f;
  --main-text-color: #FFF;
  --border-color: #4b5563;
  --input-bg-color: #333;
  --main-font-family: Arial, Helvetica, sans-serif;
  --media-query: 768px;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.max-auto {
  width: 80%;
  margin: 0 auto;
  max-width: 768px;
}

.main-bg {
  background-color: var(--bg-color); /* #000000 */
  color: var(--main-text-color);
  opacity: 1;
  font-family: var(--main-font-family);
}

a.hidden {
  /* opacity: 0; */
  /* visibility: hidden; */
  display: none;
}

@media print {
  header.header, footer.footer, section.banner {
    display: none;
  }
  /*
  header.header {
    display: none;
  }
  footer.footer {
    display: none;
  }
  section.banner {
    display: none;
  }
  */
}
/*
@media screen and (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF;
    --main-text-color: #000;
  }
}
*/

/*@media screen and (min-width: 768px) {*/
@media screen and (width > 768px) {
  a.hidden {
    display: block;
  }
}
