.footer-test {
  background-color: blue;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  /* Y-X */
  padding: 10px 20px;
  /* T-R-B-L */
  padding: 10px 30px 40px 10px;
  /* all */
  padding: 20px;
  padding: 1em;

  margin-top: 60px;
  /* margin-right: 20px; */
  border: 4px solid red;

  /* em -> 1em = 16px  */
  /* rem -> 1rem = 16px */
  font-size: 16px;
  font-size: 1rem;
}

.footer {
  padding: 2em 0;
  text-align: center;
  font-weight: 100;
  font-style: italic;
}