.header {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  img {
    width: 100%;
    max-width: 250px;
  }
  .nav {
    ul.list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 10px;
    }
  }
}
